.MainChat
  .MainChat__GroupInfo
    .MainChat__GroupNames 
      .MainChat__GroupName 
        = @group.name
      .MainChat__GroupMemberList 
        Member :
        - @group.users.each do |user|
          = user.name
    = link_to 'Edit', edit_group_path(@group), class: 'MainChat__Edit'
  .MainChat__MessageList 
    = render @messages
  
  .MainChat__MessageForm
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Form__Contents
        .Form__Content
          = f.text_field :content, class: 'Form__Content--in', placeholder: 'type a message'
          = f.label :image, class: 'Form__inputImage' do
            = icon('far', 'image', class: 'far.fa-image.Form__icon')
            = f.file_field :image, class: 'Hidden'
        = f.submit 'Send', class: 'Form__submit'
