.SideBer
  .SideBer__UserName
    .TopItems
      .TopItems__Name 
        = current_user.name
      %ul.TopItems__Icons
        %li.TopItems__Icon
        = link_to "/groups/new" do
          %i.fas.fa-edit
        %li.TopItems__Icon2
        = link_to edit_user_path(current_user) do
          %i.fas.fa-cog
  .SideBer__GroupList
    - current_user.groups.each do |group|
      .Group__Names
        = link_to group_messages_path(group) do
          .Group__Name
            = group.name
          .Group__Messages
            .Group__Message  
              = group.show_last_message